<?xml version="1.0"?>
<config>
    <modules>
        <Sitemaster_Coreexportcategories>
            <version>0.0.1</version>
        </Sitemaster_Coreexportcategories>
	</modules>

	<global>
		<helpers>
			<sitemaster_coreexportcategories>
				<class>Sitemaster_Coreexportcategories_Helper</class>
			</sitemaster_coreexportcategories>
		</helpers>

		<models>
            <sitemaster_coreexportcategories>
                <class>Sitemaster_Coreexportcategories_Model</class>
                <resourceModel>sitemaster_coreexportcategories_mysql4</resourceModel>
            </sitemaster_coreexportcategories>
			<sitemaster_coreexportcategories_mysql4>
				<class>Sitemaster_Coreexportcategories_Model_Mysql4</class>
			</sitemaster_coreexportcategories_mysql4>
        </models>
	</global>
</config>